@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&family=Source+Sans+Pro:wght@200&display=swap');

body {
    background-color: #e5e5e5;
}

input {
    font-family: 'Source Sans Pro';
    font-size: 32pt;
    font-weight: 200;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #404040;
    outline: none;
    text-align: center;
    color: #404040;
    background-color: #e5e5e5;
}

.square {
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    height: 512px;
}
.square .title {
    font-family: 'Source Sans Pro';
    font-size: 32pt;
    font-weight: 200;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.square .cityName {
    font-family: 'Raleway';
    font-size: 25pt;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    letter-spacing: 3px;
}
.square .cityName .coords {
    font-family: 'Raleway';
    font-size: 15pt;
    font-weight: 100;
    text-transform: lowercase;
    display: block;
}
.square .description {
    font-family: 'Raleway';
    font-size: 20pt;
    font-weight: 200;
    text-transform: uppercase;
    display: block;
}
.square .description .info {
    font-family: 'Raleway';
    font-size: 15pt;
    font-weight: 100;
    text-transform: lowercase;
    display: block;
}
.square .description ul {
    list-style: none;
}
.square .description ul li {
    text-transform: lowercase;
    font-size: 15pt;
    font-weight: 300;
}
.square .fixedImg {
    height: 128px;
    width: 128px;
}
.anotherSearch {
    font-family: 'Source Sans Pro';
    font-size: 25pt;
    padding: 20px;
    outline: 0;
    border: 0;
    border-radius: 20px;
    background-color: #fff;
}
.searchInfo {
    font-family: 'Raleway';
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    font-size: 25pt;
    margin-top: 20px;
}